sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email:
    on_failure: change
node_js:
  - 8
script:
  - npm run validate
after_success: jmd-scripts travis-after-success
